app.Clients = function() {
  this._input = $('.clients-search');
  this._inputHide = $('.client_id');
  this._initAutocomplete();
};

app.Clients.prototype = {
  _initAutocomplete: function() {
    this._input
      .autocomplete({
        source: '/clients',
        appendTo: '.clients-search-results',
        select: $.proxy(this._select, this)
      })
      .autocomplete('instance')._renderItem = $.proxy(this._render, this);
  },

  _render: function(ul, item) {
    var markup = [
      '<span class="title">' + item.name + '</span>',
      '<span class="price">' + item.identification + '</span>'
    ];
    return $('<li>')
      .append(markup.join(''))
      .appendTo(ul);
  },

  _select: function(e, ui) {
    this._input.val(ui.item.name);
    this._inputHide.val(ui.item.id);
    return false;
  }
};

app.Products = function(id) {
  this._input = $('#'+id);
  this._inputHide = '.product_id';
  this._initAutocomplete();
};

app.Products.prototype = {
  _initAutocomplete: function() {
    this._input
      .autocomplete({
        source: '/products',
        appendTo: '.products-search-results',
        select: $.proxy(this._select, this)
      })
      .autocomplete('instance')._renderItem = $.proxy(this._render, this);
  },

  _render: function(ul, item) {
    var markup = [
      '<span class="id">' + item.id + '</span>',
      '<span class="name">' + item.name + '</span>',
      '<span class="price">' + item.price + '</span>'
    ];
    return $('<li>')
      .append(markup.join(''))
      .appendTo(ul);
  },

  _select: function(e, ui) {
    console.log(this._input);
    this._input.val(ui.item.name);
    var parent = this._input.parents('.field-container');
    parent.children('.t-item').children('.i-id').text(ui.item.id);
    parent.children('.t-item').children(this._inputHide).val(ui.item.id);
    parent.children(3).children('.i-price').text(ui.item.price);
    parent.children(4).children('.i-total').text(ui.item.price);
    return false;
  }
};