.field-set {
  @include flex_centered();
  margin: .5rem 0 .5rem .5rem;
  @include lg {
    justify-content: flex-end;
  }
  > strong {
    margin-right: .5rem;
    width: auto;
  }
  .label {
    width: auto;
  }
  &.-left,
  &.-right {
    margin: 0;
  }
  &.-left {
    @include lg {
      justify-content: flex-start;
    }
  }
  &.-right {
    @include lg {
      justify-content: flex-end;
    }
  }
}
  
