.field-group {
  @include flex_centered();
  width: 100%;
  &.-between {
    justify-content: space-between;
  }
  &.-end {
    justify-content: flex-end;
    > .field-set {
      @include lg {
        max-width: 15rem;
      }
    }
    > .field-set p {
      @include flex_between();
      flex-wrap: nowrap;
    }
  }
}