.n-link {
  color: $ocean_green;
  font-family: $primary-font-family;
  font-size: 1rem;
  text-decoration: none;
  transition: $fast_transition;
  &:hover {
    color: $roti;
  }
}

.green-button.n-link {
  color: white;
  margin: .5rem;
  &:nth-child(even) {
    margin-left: 0;
  }
}