.i-table {
  margin-bottom: 1rem;
}

.h-table {
  margin-top: 1rem;
}
.t-body {
  border: .05rem solid $scorpion;
  position: relative;
  width: 100%;
  > .header,
  > .row {
    @include flex_between();
    box-sizing: border-box;
    padding: 0;
  }
  > .header {
    background: $wild_sand;
    border: .05rem solid black;
    border-bottom: none;
    box-sizing: border-box;
  }
  > tr {
    display: block;
    width: 100%;
  }
  &.product-table {
    height: 10rem;
    overflow-y: auto;
    overflow-x: hidden;
    > .row:nth-child(even) {
      background: $wild_sand;
      border: .05rem solid $scorpion;
    }
    .t-item {
      text-align: left;
    }
  }
}


.header > .t-item,
.row  > .t-item > span {
  display: inline-block;
  font-size: .5rem !important;
  padding: .5rem;
  vertical-align: middle;
  @include sm {
    font-size: $medium-font-size !important;
  }
  @include lg {
    font-size: 1rem !important;
  }
}

.t-header-item {
  border-bottom: .05rem solid black;
}

.t-item {
  border-bottom: .05rem solid black;
  border-right: .05rem solid black;
  word-break: break-all;
  word-wrap: break-word;
  &:last-child {
    border-right: none;
  }
  &.id {
    display: none;
    @include sm {
      display: block;
    }
  }
  > span {
    padding: .5rem;
  }
}