nav,
aside,
form,
div,
article,
section,
figure,
ul,
li,
input,
textarea,
blockquote,
ol,
header,
p,
h1,
h2,
h3,
h4,
h5,
h6,
footer,
video,
img,
ol,
li,
a,
figure,
table,
tbody,
tfoot,
th,
td,
tr {
  box-sizing: border-box;
  margin: 0;
}

.image {
  max-width: 100%;
}

._text-left {
  text-align: left;
}

._text-right {
  text-align: right;
}

.field {
  background: none;
  border: none;
  padding: .5rem;
  transition: $fast_transition;
  &:focus {
    border: none;
    outline: none;
  }
  &:hover {
    background: $wild_sand;
  }
}

#invoice_tax {
  text-align: center;
  width: 3rem;
}

.clients-search {
  width: 10rem;
}

.ui-helper-hidden-accessible {
  display: none !important;
}

.pure-u-1-10 {
  width: 10%;
}