nav,
aside,
form,
div,
article,
section,
figure,
ul,
li,
input,
textarea,
blockquote,
ol,
header,
p,
h1,
h2,
h3,
h4,
h5,
h6,
footer,
video,
img,
ol,
li,
a,
figure {
  box-sizing: border-box;
  margin: 0;
}

.image {
  max-width: 100%;
}

._text-left {
  text-align: left;
}

._text-right {
  text-align: right;
}