// ========== Fonts ==========
@import url(https://fonts.googleapis.com/css?family=Lato:300,300italic,400,700,700italic);

@font-face {
  font-family: 'montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(font-path('montserrat-regular.eot'));
  src: url(font-path('montserrat-regular.eot')),
    url(font-path('montserrat-regular.eot') + "?#iefix") format('embedded-opentype'),
    url(font-path('montserrat-regular.woff2')) format('woff2'),
    url(font-path('montserrat-regular.woff')) format('woff'),
    url(font-path('montserrat-regular.ttf'))  format('truetype'),
    url(font-path('montserrat-regular.svg') + "#montserratregular") format('svg');
}

@font-face {
  font-family: 'montserrat';
  font-style: normal;
  font-weight: 700;
  src: url(font-path('montserrat-bold.eot'));
  src: url(font-path('montserrat-bold.eot')),
    url(font-path('montserrat-bold.eot') + "?#iefix") format('embedded-opentype'),
    url(font-path('montserrat-bold.woff2')) format('woff2'),
    url(font-path('montserrat-bold.woff')) format('woff'),
    url(font-path('montserrat-bold.ttf'))  format('truetype'),
    url(font-path('montserrat-bold.svg') + "#montserratbold") format('svg');
}

@font-face {
  font-family: 'montserrat';
  font-style: normal;
  font-weight: 900;
  src: url(font-path('montserrat-black.eot'));
  src: url(font-path('montserrat-black.eot')),
    url(font-path('montserrat-black.eot') + "?#iefix") format('embedded-opentype'),
    url(font-path('montserrat-black.woff2')) format('woff2'),
    url(font-path('montserrat-black.woff')) format('woff'),
    url(font-path('montserrat-black.ttf'))  format('truetype'),
    url(font-path('montserrat-black.svg') + "#montserratbold") format('svg');
}

$primary-font-family: 'Lato', Helvetica, Arial, sans-serif, FontAwesome;
$secondary-font-family: 'Montserrat', Helvetica, sans-serif;
$medium-font-size: 0.75rem;
$small-font-size: 0.5rem;

// ========== Breakpoint ==========
$xs: 20em; // extra small devices
$x-sm: 30em;
$sm: 35.5em; // small devices
$md: 48em; // medium size devices
$lg: 64em; // big size devices
$xl: 80em; // desktop

// ========== Colours ==========
// please use http://chir.ag/projects/name-that-color for names
$scorpion: #4a4a4a; // primary font color
$wild_sand: #f5f5f5; // light gray background
$dd_blue: #4a90e2; // The blue we use in our logo
$ocean_green: #389F79; // main green
$sage: #96AC89; // topics blue, needed for fixes.
$roti: #E1CD23; // hovers


// ========== skew degres and background offset ===========

$skewDeg: 2.5deg;
$offset: 2rem;

// statical common values - rem

// common text shadow

$white_text_shadow: .05rem .1rem .15rem $scorpion;
$white_title_shadow: 0 .3rem .5rem $scorpion;

// common box shadow

$button_shadow: 0 .05rem .1rem $scorpion;
$container_shadow: 0 .1rem .2rem $scorpion;
$container_hover_shadow: 0 .1rem .25rem $scorpion;

// common transitions

$fast_transition: all .25s;
$normal_transition: all .5s;

// video padding

$video_padding: 56.25%;
