.l-container.-centered
  %table.pure-u-1.m-table.white-box
    %tbody.pure-u-1.t-body
      %tr.pure-u-1.header
        %td.pure-u-1.t-header-item.d-title.-bold.-scorpion
          %span
            Products
        %td.pure-u-1-5.t-item.p-id
          %span
            ID:
        %td.pure-u-2-5.t-item.equalFour
          %span
            Name:
        %td.pure-u-1-5.t-item.equalFour
          %span
            Price:
        %td.pure-u-1-5.t-item.equalFour
          %span
            Actions:
      - @products.each do |product|
        - if product.deleted == 0
          %tr.pure-u-1.row
            %td.pure-u-1-5.t-item.p-id
              %span
                = product.id
            %td.pure-u-2-5.t-item.equalFour
              %span
                = product.name
            %td.pure-u-1-5.t-item.equalFour
              %span
                $
                = product.price
            %td.pure-u-1-5.t-item.equalFour
              %span
                = link_to "Delete Product", product_path(product), remote: true, :confirm => "Are you sure?", :method => :delete, class: 'delete_product'
